<?xml version="1.0" encoding="utf-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0" id="awesome.of.line.jls" versionCode="10" version="1.0.4">
	<name>
		Japanese Language Shadowing
	</name>
	<description>
		An application for Japanese Language Shadowing
	</description>
	<author href="#" email="gervelgiva@gmail.com">Gervel Giva</author>
    
	<!-- all platforms -->
	<preference name="fullscreen" value="true" />

	<content src="index.html" />
	<access origin="*" />
</widget>
