p {
    font-size: 2em;
}

rt {
    font-size: 60%;
    color: darkgray;
}

rt.hidden {
    display: none;
}

span:hover {
    background-color: yellow;
}

div#controls {
    position: fixed;
    background-color: white;
    z-index: 100;
}

div#speechContainer {
    margin-top: 16em;
}

div#speechContainer.hiddenControls {
    margin-top: 0;
}

p.not-mapped-yet {
    background-color: lightgray;
}