p {
    font-size: 2em;
}

rt {
    font-size: 60%;
    color: darkgray;
}

rt.hidden {
    display: none;
}

span:hover {
    background-color: bisque;
}

div#controls {
    position: fixed;
    background-color: white;
    z-index: 100;
}

div#speechContainer {
    margin-top: 21em;
}

div#speechContainer.hiddenControls {
    margin-top: 0;
}

p.has-override {
    background-color: beige;
}

p button.play {
    margin-bottom: 5px;
}